ServerName vdd

StartServers 10
MinSpareServers 5
MaxSpareServers 10
ServerLimit 30
MaxClients 150
MaxKeepAliveRequests 200
KeepAliveTimeout 5
EnableSendfile off

AddType application/vnd.ms-fontobject .eot
AddType font/ttf .ttf
AddType font/otf .otf
AddType font/woff .woff
<FilesMatch "\.(ttf|otf|eot|woff)">
<IfModule mod_headers.c>
Header set Access-Control-Allow-Origin "*"
</IfModule>
</FilesMatch>

